html,
body {
  padding: 0;
  margin: 0;
  background-color: #232133;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.auth-form {
  color :white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding-top: 25px;
  height: 50vh;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  border-radius: 10px;
  }
  
  .input-box {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 70px;
  overflow: hidden;
  font-size: 1.2rem;
  }
  
  .input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 0;
  outline: none;
  border: none;
  border-bottom: black solid 1px;
  font-size: 1.2rem;
  }
  
  .input-box label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  pointer-events: none;
  }
  .input-box label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #9999ff;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  }
  .span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
  }
  #submit {
   border-radius: 10px;
  cursor: pointer;
  margin: auto;
  background-color: #fff;
  color: #23183d;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  }
  #submit:hover {
  background-color: #ee11ff;
  color: #fff;
  }
  #submit:active {
  box-shadow: 0 0 25px white;
  }
  .input-box input:focus + .label span,
  .input-box input:valid + .label span {
  transform: translatey(-170%);
  }
  
  .input-box input:focus + .label::after,
  .input-box input:valid + .label::after {
  transform: translateX(0%);
  }

.other-link{
    position: absolute;
    bottom:2vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }
  .other-link a{
    color: #aa00aa;
  }

  .other-link a:active{
    color: #00ff00;
  }



  @media screen and (max-width: 920px) {

  }